<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>liborw</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="css/screen.css"/>
    </head>
    <body class="$bodyclass$">
        <div class="column header">
            <h1><a href="/" title="back to home">liborw</a></h1>
        </div>
        <div class="container">
            $body$
        </div>
        <div class="column footer">
            <a href="http://github.com/liborw" title="github">gh</a>
            <a href="http://www.linkedin.com/pub/libor-wagner/44/210/682" title="linkedin">in</a>
        </div>
    </body>
</html>
