<div class="about">
    <h1>home</h1>
    <p>My name is Libor Wagner and this is my home on the internet. You can read
    more about me, this page, and my intentions to start writing it in my
    first <a href="posts/2012-05-28-why-blog.html" title="Why a blog?">post</a>.</p>
    <p>To contact me, write me an email to <a href="mailto:&#108;&#105;&#98;&#111;&#114;&#119;&#97;&#103;&#110;&#101;&#114;&#64;&#99;&#101;&#110;&#116;&#114;&#117;&#109;&#46;&#99;&#122;" title="Write me and email.">&#108;&#105;&#98;&#111;&#114;&#119;&#97;&#103;&#110;&#101;&#114;&#64;&#99;&#101;&#110;&#116;&#114;&#117;&#109;&#46;&#99;&#122;</a>.
    I would be grateful for any kind of a comment, suggestion, or possibly a hate mail,
    at least I would know that somebody reads this.</p>
</div>
<hr/>
<div class="posts">
  <ol class="toc" >
    $posts$
  </ol>
</div>
