<div class="about">
    <h1>Hi</h1>
    <p>Hi, my name is Libor, welcome to my space on the internet. You can read
    more about me, this page, and my intentions to start writing it in my
    first <a href="posts/2012-05-28-why-blog.html" title="Why a blog?">post</a>.
    You can reach me by <a href="mailto:&#108;&#105;&#98;&#111;&#114;&#119;&#97;&#103;&#110;&#101;&#114;&#64;&#99;&#101;&#110;&#116;&#114;&#117;&#109;&#46;&#99;&#122;?subject=[liborw] " title="Write me an email.">email</a>.</p>
</div>
<hr/>
<div class="posts">
  <ol class="toc" >
    $posts$
  </ol>
</div>
