<div class="article">
    <div class="head">
        <h1>$title$</h1>
        <p><abbr class="timeago" title="$date$">$date$</abbr</p>
    </div>
    <div class="body">
        $body$
    </div>
    <hr/>
    <div id="contact">
    <p>Contact me about this post and everithing at <a href="mailto:&#108;&#105;&#98;&#111;&#114;&#119;&#97;&#103;&#110;&#101;&#114;&#64;&#99;&#101;&#110;&#116;&#114;&#117;&#109;&#46;&#99;&#122;?subject=[liborw] Re:$title$" title="Write me and email.">&#108;&#105;&#98;&#111;&#114;&#119;&#97;&#103;&#110;&#101;&#114;&#64;&#99;&#101;&#110;&#116;&#114;&#117;&#109;&#46;&#99;&#122;</a>.</p>
    </div>
</div>
